<section>
  <div class="box">
    <div class="content">
      <form action="#" target="" method="get" name="formDatosPersonales">

        <label >Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombres"/>

        <label>Apellidos</label>
        <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos"/>

        <label >Email</label>
        <input type="email" name="email" id="email" placeholder="Email" required />

        <label >Asunto</label>
        <input type ="text" name="asunto" id="asunto" placeholder="Asunto"/>

        <label >Mensaje</label>
        <textarea name="mensaje" for="mensaje" placeholder="Describe brevemente en menos de 300 carácteres" maxlength="300"></textarea>

        <input type="submit" name="enviar" value="Enviar"/>
      </form>
    </div>
    <div class="content">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe width="600" height="500" id="gmap_canvas"
                  src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
                  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          <a href="https://123movies-to.org"></a><br>
          <style>.mapouter {
            position: relative;
            text-align: right;
            height: 500px;
            width: 600px;
            margin: 50px;
          }</style>
          <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
          <style>.gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 500px;
            width: 600px;
          }</style>
        </div>
      </div>
    </div>
  </div>

  <a href="https://api.whatsapp.com/send?phone=51975739494"
     class="btn-wtps" target="_blank">
    <mat-icon>call</mat-icon>
  </a>
</section>
