<section class="container">
  <div class="box">
    <img class="img" src="assets/images/imgAboutUs.PNG" alt="imagen referencial sobre nosotros">
    <div class="about-us-textContainer">
      <h2 class="subtitle">¿Quienes somos?</h2>
      <p class="text-content">Somos una agencia de viajes con destinos nacionales e internacionales, te ayudamos de
        manera personalizada en todos los aspectos de tu viajes</p>
      <p class="text-content">Tu aventura empieza aquí, ¿Estás listo?. Contáctanos y te asesoramos</p>
    </div>
  </div>
  <a href="https://api.whatsapp.com/send?phone=51975739494"
     class="btn-wtps" target="_blank">
    <mat-icon>call</mat-icon>
  </a>
</section>
<footer class="footer">
  <p>All rights reserved © 2022 | Merkary Viajes</p>
</footer>
