<mat-toolbar class="primary-color">
  <span class="secondary-color">Merkary Viajes</span>
  <span class="example-spacer"></span>

  <button class="menu-toggle" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon style="color:aliceblue;">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/home'">Inicio</button>
    <button mat-menu-item [routerLink]="'/about-us'">Sobre nosotros</button>
    <button mat-menu-item [routerLink]="'promotion'">Promociones</button>
    <button mat-menu-item [routerLink]="'call-to-action'">Contáctese</button>
  </mat-menu>


  <nav class="menu-expand">
    <a class="secondary-color" mat-button [routerLink]="'/home'">Inicio</a>
    <a class="secondary-color" mat-button [routerLink]="'/about-us'">Sobre nosotros</a>
    <a class="secondary-color" mat-button [routerLink]="'promotion'">Promociones</a>
    <a class="secondary-color" mat-button [routerLink]="'call-to-action'">Contáctese</a>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>
