.title {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(0, 0, 0, 90%);
  margin: 20px 30px;
  text-align: center;
}

.container {
  margin: auto;
}

.subtitle {
  color: rgb(250, 66, 66);
  margin: 20px 30px;
  font-size: 1.2rem;
  text-align: center;
}

.box {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.box img{
  width: 500px;
  display: block;
  margin: 10px auto;
}

.container-cards{
  margin: auto;
}

.btn-wtps{
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: green;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0,0,0,30%);
  z-index: 100;
}

.btn-wtps:hover{
  text-decoration: none;
  color: green;
  background-color: white;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(248, 36, 36);
  color: rgb(9, 2, 24);
  text-align: center;
  margin: 0px;
}

.sidenavstyle{
  background-color: rgb(4, 61, 21);
  color: rgb(208, 206, 216);
}

.footer p{
  margin: 25px 0px;
  color: white;
}

.box .corporation-img{
  margin-bottom: 90px;
}

.box .corporation-img:hover{
  opacity: 0.5;
  filter: grayscale(10%);
}

.box .prom-img:hover{
  opacity: 0.5;
  filter: grayscale(10%);
}
